/* ==============================================================================

CSS Information

  File name     : line_form.css
  Style Info    : line order form style

============================================================================= */

/* layout
-----------------------------------------------------------*/

html {
	font-size: 16px;
}

body {
	position: relative;
	left: 0;
	overflow: hidden;
	word-wrap: break-word;
	color: #333;
	font-size: 1rem;
	font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
	line-height: 1.6;
}

.wrapper {
	overflow: hidden;
	max-width: 800px;
	margin: 0 auto;
}

/* アコーディオン用：チェックを隠す */
.vibtn {
	position: absolute;
	visibility: hidden;
	top: 0;
	right: 0;
}
img {
	max-width: 100%;
}



/* fix bar
-----------------------------------------------------------*/

.fix_bar {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #FFF;
	transition: 0.4s;
}
.fix_bar.hide {
	display: none;
}

.fix_title_block {
	padding: 10px;
	text-align: center;
}

.fix_contents {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 10px 10px;
	background-color: #EEE;
}
.fix_contents .fix_price_txt ,
.fix_contents .fix_count_txt {
	display: block;
	flex: 1;
	padding: 4px 0;
}
.fix_contents .fix_price_txt .fix_price ,
.fix_contents .fix_count_txt .fix_count {
	font-weight: 600;
}
.fix_contents .fix_btn {
	display: block;
	padding: 8px 25px;
	border-radius: 50vh;
	background: #a03939;
	color: #FFF;
	font-size: 85%;
}

.fix_deli_line {
	overflow: hidden;
	height: calc(1.6em + 8px);
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 4px;
	background-color: #666;
	color: #FFF;
	font-size: 85%;
	text-align: center
}


/* splide
------------------------------------------------------------- */

.thumb_splide {
	padding-left: 20px;
	border-bottom: 2px solid #20427c;
}
.thumb_splide .splide__slide {
	padding: 8px 6px;
}
.thumb_splide .splide__track--nav>.splide__list>.splide__slide.is-active {
	padding: 10px 6px 0;
	border: none;
	border-bottom: 4px solid #20427c;
}


/* modal
------------------------------------------------------------- */

.modal_wrap input {
	display: none;
}
.modal_wrap label {
	text-decoration: none;
}
.modal_layer {
	display: flex;
	justify-content: center;
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	opacity: 0;
	transition: opacity 0.5s, transform 0s 0.5s;
	transform: scale(0);
}
.modal_layer_close {
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 100%;
}
.modal_content {
	position: relative;
	align-self: center;
	width: 90%;
	max-width: 800px;
	max-height: 80%;
	box-sizing: border-box;
	transform: scale(0.3);
	transition: 0.25s;
}
.modal_close_button {
	position: fixed;
	cursor: pointer;
	top: -15px;
	right: -15px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #333;
	color: #FFF;
	font-size: 40px;
	line-height: 33px;
	text-align: center;
}

.modal_content_inner {
	padding: 20px 20px 5px;
	background: #fff;
	font-size: 85%;
}
.modal_content_inner h2 {
	margin-bottom: 10px;
	font-size: 1.25rem;
	text-align: center;
}
.modal_wrap input:checked + .modal_layer {
	opacity: 1;
	transform: scale(1);
	transition: opacity 0.5s;
}
.modal_wrap input:checked + .modal_layer .modal_content {
	transform: scale(1);
}


/* タイトル
-----------------------------------------------------------*/

/* title */
.title_block {
	padding: 20px 10px 10px;
	text-align: center;
}
.title_block h1 {
	display: block;
	font-size: min(1.5rem,5vw);
}

/* splide
-----------------------------------------------------------*/

.form_spride {
	padding-top: 108px;
	background: #FFF;
}
.main_splide .set_input_list {
	overflow: hidden;
	overflow-y: auto;
	height: calc(100vh - 108px);
}

/* set list
-----------------------------------------------------------*/

.set_input_list:not(.vartical) {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px 20px;
	text-align: center;
}
.set_input_list:not(.vartical) li {
	width: 50%;
}

.set_input_list li {
	padding: 10px 10px;
	box-sizing: border-box;
}
.set_input_list li.is_selected ,
.set_input_list.vartical li.is_selected {
	background-color: #f2dada;
	border-bottom: 1px solid #FFF;
}

/* vartical */
.set_input_list.vartical li {
	border-bottom: 1px solid #DDD;
}
.set_input_list.vartical .item_wrap {
	display: flex;
	align-items: center;
}
.set_input_list.vartical .item_wrap .item_fig {
	width: 65px;
	margin-right: 10px;
}
.set_input_list.vartical .item_wrap .item_name {
	flex: 1;
}
.set_input_list.vartical .item_wrap .item_cartin {
	width: 7em;
	text-align: right;
}
.form_inner .set_input_list.vartical .item_wrap .item_cartin {
	width: 8em;
}

.set_input_list .item_name {
	font-size: .875rem;
	line-height: 1.4;
}
.set_input_list.vartical .item_cartin .item_price {
	display: block;
	color: #C00;
}
.set_input_list.vartical .item_cartin .item_price .tax {
	font-size: 75%;
}
.set_input_list.vartical .item_cartin .item_stock {
	display: block;
	padding-left: 1.75em;
	color: #999;
	text-align: center;
}

.set_input_list li.is-hide {
	display: none;
}

.set_input_list figure {
	display: block;
	margin: 0 0 10px;
}

.set_input_list span {
	display: block;
}

.set_input_list .item_icon {
	margin: 4px 0;
	padding: 0;
}
.set_input_list .item_icon span {
	display: inline-block;
	padding: 2px 8px;
	background: #DDD;
	color: #666;
	font-size: .75rem;
}

.set_input_list select {
	width: 3em;
	height: 2em;
}

/* 購入増減 : +/- */
.set_input_list .item_cartin input[type="text"] {
	width: 2em;
	padding: 0;
	text-align: center;
	line-height: 1;
	vertical-align: middle;
}
.set_input_list .item_cartin button {
	width: 20px;
	height: 20px;
	border-radius: 4px;
	color: #FFF;
	text-align: center;
	vertical-align: middle;
}
.set_input_list button.del {
	width: 2em;
	background-color: #CCC;
	color: #666;
	font-size: .75rem;
}
.set_input_list button.minus {
	background-color: #406c99;
}
.set_input_list button.plus {
	background-color: #ce4c5b;
}

@media only screen and (max-width: 639px) {
	.set_input_list {
		display: block;
	}
	.set_input_list:not(.vartical) li {
		display: -webkit-flex;
		display: flex;
		width: auto;
		border-bottom: 1px solid #CCC;
		align-items: center;
	}
	.set_input_list li:last-child {
		border-bottom: none;
	}
	.set_input_list figure {
		width: 200px;
		max-width: 30%;
		margin: 0;
	}
	.set_input_list:not(.vartical) .txt_area {
		margin-left: 15px;
		text-align: left;
	}
	.set_input_list span {
		text-align: left;
	}
}

@media only screen and (min-width: 640px) {
	.set_input_list:not(.vartical) li {
		width: 33.33333%;
	}
}



/* set inline list
-----------------------------------------------------------*/

.set_inline_list {
	margin-bottom: 20px;
}
.set_inline_list li {
	display: inline-block;
}
.set_inline_list li label {
	display: inline-block;
	padding: 5px 10px;
}
.set_inline_list li input {
	display: inline-block;
	margin-right: .5em;
	margin-bottom: .5em;
}


/* form
-----------------------------------------------------------*/

.form_area {
	background: #FFF;
}

/* box */
.form_info {
	margin-bottom: 18px;
	padding: 15px;
	background: #FFF;
	box-shadow: 0 7px 5px 2px rgba(0, 0, 128, .08);
}
.form_info p {
	font-size: .875rem;
}

.form_inner {
	padding: 10px 20px;
}
.form_inner p {
	margin-bottom: 15px;
	padding: 0 8px;
	font-size: .875rem;
}
.form_inner .set_input_list {
	margin-left: -10px;
	margin-right: -10px;
}

/* title */
.form_area h2 {
	margin-left: -5px;
	margin-right: -5px;
	margin-bottom: 15px;
	padding: 5px 10px;
	background: #ced8e0;
	text-align: center;
}

.form_area h3 {
	position: relative;
	padding-bottom: 8px;
	margin-bottom: 15px;
	border-bottom: 1px solid #CCC;
}
.form_area h3::before {
	position: absolute;
	content: '';
	left: 0;
	bottom: -2px;
	display: block;
	width: 60px;
	height: 4px;
	background: #5a7893;
}
.form_area h3 label ,
.form_area h3 span {
	position: relative;
	display: block;
	padding: 0 10px 10px;
	z-index: 2;
}

/* form ここから ======================  */

.form_box {
	margin-bottom: 20px;
}

/* ul */
ul.form_box li {
	margin-bottom: 10px;
}
ul.form_box.form_box_inline li {
	display: inline-block;
}
ul.form_box li .info {
	display: block;
	padding-left: 2em;
}
ul.form_box li .info i {
	display: inline-block;
	margin-right: .5em;
	font-size: 85%;
}
ul.form_box li .info em {
	font-weight: bold;
}

/* dl */
dl.form_box dt {
	margin-bottom: 8px;
	font-weight: bold;
}
dl.form_box dd:not(:last-child) {
	margin-bottom: 16px;
}
dl.form_box dd.time {
	padding-bottom: 15px;
	border-bottom: 1px solid #DDD;
}

/* 規約 */
.form_terms {
	overflow-y: auto;
	height: 150px;
	margin-bottom: 15px;
	padding: 10px 0 10px 10px;
	border: 1px solid #CCC;
}

/* 共通 */
.form_box .req {
	display: inline-block;
	margin-left: 10px;
	padding: 2px .8em;
	background: #db707a;
	color: #FFF;
	font-size: .8125rem;
	font-weight: normal;
	line-height: 1.4;
	white-space: nowrap;
}

.form_box label {
	display: block;
}
.form_box .inline_wrrap label {
	display: inline-block;
}

.form_box input[type="text"] ,
.form_box select ,
.form_box textarea {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #AAA;
	vertical-align: middle;
}

.form_box input[type="radio"] ,
.form_box input[type="checkbox"] {
	margin-right: .5em;
}

.form_box select {
	display: inline-block;
	height: 2em;
	line-height: 1.8;
}
.form_box select option {
	padding: 8px;
}

.form_box .data span ,
.form_box .time span {
	display: inline-block;
	width: 3.5em;
	vertical-align: middle;
}

.form_box .data input[type="text"] ,
.form_box .time input[type="text"] ,
.form_box .data select ,
.form_box .time select {
	width: calc( 100% - 4em );
}

.form_box .btn_refresh {
	cursor: pointer;
	display: inline-block;
	border-radius: 6px;
	border: 1px solid #DDD;
	background: #F6F6F6;
	background: linear-gradient(to bottom, #FFF 5%, #EEE 100%);
	padding: 4px 24px;
}


/* item form 専用 ==================== */

.order_caution {
	margin-bottom: 10px;
}

.item_area textarea {
	display: block;
	width: 100%;
	height: 5.8em;
	margin-bottom: .5em;
	padding: .5em 0 0 .5em;
	border: 1px solid #CCC;
	resize: none;
}

.order_info_area {
	margin-top: 10px;
}

.result_area {
	margin-top: 15px;
	text-align: center;
}

/* delivery price */
.result_area .delivery_price_block {
	margin-bottom: 0;
	padding: 10px 0 10px 0;
	border-top: 1px solid #CCC;
	font-size: 116%;
}
.result_area .delivery_price_block input {
	width: 3em;
	text-align: center;
}

/* total count */
.result_area .total_count_block {
	margin-bottom: 15px;
	padding: 10px 0 0;
	border-top: 1px solid #CCC;
	font-size: 116%;
	font-weight: bold;
}
.result_area .total_count_block .totalcount {
	text-align: center;
}

/* total price */
.result_area .total_price_block {
	margin-bottom: 15px;
	padding: 10px 0;
	background: #EEE;
	font-size: 116%;
	font-weight: bold;
}
.result_area .total_price_block input {
	width: 4em;
	text-align: center;
}


/* timepicker ====================== */

.ui-timepicker-wrapper {
	width: 68%;
	box-sizing: border-box;
}
.ui-timepicker-list {
	width: 100%;
}


/* error ====================== */

.form_box .error {
	display : none;
	color: #C00;
	font-size: 85%;
}

/* NG */
form input:focus:invalid {
	border : tomato 2px solid;
}
form input:focus:invalid + .error {
	display: block;
}
/* OK */
form input:focus:valid + .error {
	display : none;
}



/* btn */

.form_btn_box {
	position: relative;
	padding-bottom: 20px;
	text-align: center;
	z-index: 99999999;
}

.form_btn_box p {
	margin-bottom: 20px;
	font-size: .875rem;
}

.form_btn_box input {
	cursor: pointer;
	position: relative;
	display: inline-block;
	width: 80%;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 50vh;
	border: none;
	background: #3db156;
	color: #FFF;
	font-size: 1.126rem;
}
.form_btn_box.confirm input {
	background: #a03939;
}

.form_btn_box input:disabled {
	background: #999;
}

input[type="button"].btn {
	cursor: pointer;
	position: relative;
	display: inline-block;
	width: 80%;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 8px;
	border: 1px solid #CCC;
	background: #F2F2F2;
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);
	color: #333;
	font-size: 1.126rem;
}

/* page top
-----------------------------------------------------------*/

.page_top_fx {
	position: fixed;
	overflow: hidden;
	bottom: 0;
	right: 0;
	width: 100%;
	padding: 15px;
	z-index: 99999999;
}

.page_top_fx a {
	display: block;
	width: 80%;
	margin: 0 auto;
	padding: 8px;
	background-color: rgba(0,0,0,0.7) ;
	border-radius: 50vw;
	color: #FFF;
	text-align: center;
	text-decoration: none;
}

.page_top_fx a::before {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	background: url('data:image/svg+xml,%3Csvg%20enable-background%3D%22new%200%200%2036%2020%22%20height%3D%2220%22%20viewBox%3D%220%200%2036%2020%22%20width%3D%2236%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m35.6%2018.1c0%20.5-.2.9-.5%201.3-.7.7-1.8.7-2.5%200l-14.8-15.2-14.8%2015.2c-.7.7-1.8.7-2.5%200s-.7-1.8%200-2.5l16.1-16.4c.7-.7%201.8-.7%202.5%200l16%2016.4c.3.3.5.8.5%201.2z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E') 50% 60% no-repeat;
	background-size: 96% auto;
	vertical-align: middle;
}


/* common
-----------------------------------------------------------*/

.center {
	text-align: center;
}


