@charset 'UTF-8';
/* ==============================================================================

CSS Information

 File name:	 front-init-jiyu.css
 Style Info: フロントページ 自由が丘用設定

============================================================================== */

/* /////////////////////////////////////////////////////////////////////////////

 全体 style

///////////////////////////////////////////////////////////////////////////// */

:root {
	/* 自由が丘クリニック */
	--color-cust_body      : #e5e5e5;
	--color-cust_primary   : #85a0c0;
	--color-cust_secondary : #2d60ac;
	--color-cust_tertiary  : #879db8;
}